$sideWidth: 200px;

.navigation {
  background-color: #111111;
  color: #fff;
  width: $sideWidth;
  height: 100vh;

  ul,
  li {
    list-style-type: none;
    padding: 0;
  }
  .link {
    display: block;
    padding: 20px;
    text-decoration: none;

    color: #fff;
    font-size: 20px;

    &.active {
      background-color: rgb(132, 132, 132);
    }
  }
}

.main-content {
  padding: 20px;
}

.side-layout {
  display: flex;
}
